@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --Branco: white;
    --QuickSand: 'Quicksand', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    --Cinza: #31393C;
    --Preto: black;
}


