@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

:root {
    --Branco: white;
    --QuickSand: 'Quicksand', sans-serif;
    --Cinza: #31393C;
    --Preto: black;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* ------------------ */

.header {
    height: 60px;
    width: 100%;
    background-color: var(--Branco);
    font-family: var(--QuickSand);
    font-weight: 400;

    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-scroll {
    box-shadow: 3px 3px 18px gray;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo p {
    font-size: 1.7rem;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0 3% !important;
}

.header-divider {
    background-color: var(--Preto);
    display: block;
    content: ' ';
    width: 1px;
    height: 20px;
}

.header-link {
    display: flex;
}

.header-contato {
    padding: 5px 10px !important;
    border-radius: 6px;
    background-color: var(--Cinza);
    color: var(--Branco);
}

.header-contato:hover {
    color: var(--Branco);
    background-color: #252b2d;
}

.header-responsive {
    display: none;
}

@media screen and (max-width: 576px) {
    .header-responsive {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 3%;
    }

    .header-links {
        display: none;
    }

}

