@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

:root {
    --Background: white;
    --BoxShadow: 0 8px 32px 0 lightgray;
    --BackDrop: blur( 13.5px );
}

.header {
    height: 80px;
    width: 100%;

    background: var(--Background);
    box-shadow: var(--BoxShadow);
    backdrop-filter: var(--BackDrop);
    -webkit-backdrop-filter: var(--BackDrop);

    position: absolute;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
    font-weight: 400;
}

.logo p {
    font-size: 1.7rem;
}

.links {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 3% !important;
}

.responsive {
    display: none;
}

.hamburguer {
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 576px) {
    .responsive {
        display: block;
    }

    .logo p {
        font-size: 1.5rem !important;
    }
}