@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --Branco: white;
    --QuickSand: 'Quicksand', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    --Cinza: #31393C;
    --Preto: black;
}

.home-container {
    margin-top: 60px !important;
}

.home-img-container {
   position: relative;
   margin: 0 auto !important;
   height: 50vh;
   background: url(../Img/Background.jpg) no-repeat;
   background-position: center;
   background-size: cover;
}

.home-img-frase {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 3%;
    display: flex;
    align-items: center;
    color: var(--Branco);
    font-size: 2rem;
    font-family: var(--QuickSand);
    padding-right: 5% !important;
}

.home-text-container {
    margin: 20px auto !important;
    width: 80%;
}

.home-text-title {
    font-family: var(--QuickSand) !important;
    font-size: 2rem;
    color: var(--Preto);
    text-align: center;
}

.home-text {
    margin-top: .8em !important;
    text-align: center;
    color: gray;
}

.home-saiba-mais {
    display: block;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--Branco);
    padding: 5px !important;
    position: absolute;
    left: 3%;
    bottom: 30px;
    transition: .2s ease;
}

.home-saiba-mais:hover {
    transform: scale(1.1)

}

.home-saiba-mais a {
     color: var(--Preto);
}

.home-saiba-mais a:hover {
    color: var(--Preto);
}

.home-card-container {
    width: 80%;
    margin: 1.5rem auto !important;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .home-img-frase {
        display: none;
    }

    .home-saiba-mais:hover {
        transform: scale(1);
    }

    .home-img-container {
        background-position: left;
    }
} 