.home-container {
    background: url(../Img/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.home-info {
    width: 80%;
    margin: 2em auto !important;
    text-align: center;
}

.home-title {
    color: black !important;
}

.home-text {
    margin-top: 1rem !important;
}

.home-box {
    margin: 2em auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
}