.Container {
  width: 90%;
  height: calc(100vh - 75px);
  margin: 2rem auto !important;
}

.Title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primaryColor);
}

.Cards {
  margin-top: 2rem !important;
  padding: 20px !important;
  height: 500px;
  border: 1px solid #F1F1F1
}

.Card {
  padding: 0px 15px !important;
}

.CardTitle {
  font-size: 1.5rem;
  padding-bottom: 10px !important;
}

.CardDescription {
  color: #000000;
  text-align: justify;
}
