@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.app-logo {
    font-family: 'Quicksand', sans-serif;
}

.app-login {
    padding: 5px 30px !important;
    margin-left: 1rem !important;
    border-radius: 5px;
    background: black;
    color: white;
}

.app-login:hover {
    color: white;
}

.app-link {
    font-family: 'Quicksand';
}

.app-link-res:not(.res-login) {
    display: block;
    height: 30px;
    color: white;
    border-bottom: 1px dashed gray;
}

.res-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 0 auto !important;
    text-align: center;
    border-radius: 7px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.app-responsive {
    display: none;
}

.imgBackground {
    background: url(../img/Background.jpg) no-repeat;
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.home-container {
    width: 90%;
    margin: 1rem auto !important;
}

.home-text {
    font-family: 'Quicksand', sans-serif;
}

.card-container {
    width: 90%;
    height: 300px;
    margin: .5rem auto !important;
    position: relative;
    z-index: 10;
}


@media screen and (max-width: 768px) {
   .app-link {
    display: none;
   }

    .app-responsive {
        display: block;
    }

    .imgBackground {
        background-position: left;
    }

    .col-card {
        margin: .3rem 0rem !important;
    }

    .card-container {
        height: 500px;
    }
}